method: vector_parameter_study
n_steps: {n_steps}
parameters: ["{parameter1}", "{parameter2}", "{parameter3}"]
initial_point: [{initial_point1}, {initial_point2}, {initial_point3}]
final_point: [{final_point1}, {final_point2}, {final_point3}]
responses: ["{response1}", "{response2}", "{response3}"]
response_statistics: ["{statistic1}", "{statistic2}", "{statistic3}"]
