analysis_driver: dakota_run_plugin
component: {component}
configuration_file: ~
data_file: dakota.dat
final_point: {final_point}
initial_point: {initial_point}
input_files: {input_files}
interface: fork
is_objective_function: false
method: {method}
n_steps: {n_steps}
parameters_file: params.in
response_descriptors: {response_descriptors} 
response_files: {response_files}
response_statistics: {response_statistics}
results_file: results.out
run_directory: ~
template_file: ~
variable_descriptors: {variable_descriptors}
variable_type: continuous_design
