#===============================================================================
# Topoflow Config File for: data_his
#===============================================================================
# Input
comp_status         | Enabled             | choice    | Component status [-] {Enabled; Disabled}
in_directory        | .                   | string    | Input directory [-]
out_directory       | .                   | string    | Output directory [-]
site_prefix         | {site_prefix}       | string    | File prefix for the study site [-]
case_prefix         | {case_prefix}       | string    | File prefix for the model scenario [-]
#===============================================================================
# Query
data_keyword        | {data_keyword}      | string    | His data keyword [-]
west_edge_lon       | {west_edge_lon}     | float     | Longitude of west edge of geographic region [dec.degrees]
east_edge_lon       | {east_edge_lon}     | float     | Longitude of east edge of geographic region [dec.degrees]
north_edge_lat      | {north_edge_lat}    | float     | Latitude of north edge of geographic region [dec.degrees]
south_edge_lat      | {south_edge_lat}    | float     | Latitude of south edge of geographic region [dec.degrees]
start_month         | {start_month}       | choice    | Start month [-] {January; February; March; April; May; June; July; August; September; October; November; December}
start_day           | {start_day}         | int       | Start day [-]
start_year          | {start_year}        | int       | Start year [-]
stop_month          | {stop_month}        | choice    | Stop month [-] {January; February; March; April; May; June; July; August; September; October; November; December}
stop_day            | {stop_day}          | int       | Stop day [-]
stop_year           | {stop_year}         | int       | Stop year [-]
max_n_values        | {max_n_values}      | int       | Max number of values allowed in any time series [-]
max_n_series        | {max_n_series}      | int       | Max number of time series allows in the report [-]
#===============================================================================
# Output
save_pixels_dt      | {save_pixels_dt}    | float     | Time interval between time series values [sec]
SAVE_DAT_PIXELS     | {SAVE_DAT_PIXELS}   | choice    | Option to save time series [-] {Yes; No}
dat_ts_file         | {dat_ts_file}       | string    | Filename for time series [-]
#===============================================================================
# About
ModelName           | {ModelName}         | String    | Name of the model [-]
ModelAuthor         | {ModelAuthor}       | String    | Name of the model author [-]
HTML_HELP_FILE      | {HTML_HELP_FILE}    | String    | Url for html help file [-]
