method: multidim_parameter_study
parameters: ["{parameter1}", "{parameter2}", "{parameter3}"]
lower_bounds: [{lower_bound1}, {lower_bound2}, {lower_bound3}]
upper_bounds: [{upper_bound1}, {upper_bound2}, {upper_bound3}]
partitions: [{partition1}, {partition2}, {partition3}]
responses: ["{response1}", "{response2}", "{response3}"]
response_statistics: [{statistic1}, {statistic2}, {statistic3}]
